In [1]:
# DEPENDENCIES
import pandas as pd
from sqlalchemy import create_engine
import pymongo
import json

In [4]:
# RESOURCES FILES AND CONVERTING INTO DATAFRAME
csv_CAvideos = 'Resources/CAvideos.csv'
csv_GBvideos = 'Resources/GBvideos.csv'
csv_USvideos = 'Resources/USvideos.csv'

CAvideos_data_df = pd.read_csv(csv_CAvideos)
GBvideos_data_df = pd.read_csv(csv_GBvideos)
USvideos_data_df = pd.read_csv(csv_USvideos)

### CANADA TRENDING VIDEOS

In [5]:
CAvideos_data_df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyonc√©,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyonc√© i...
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146035,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ‚ñ∂ \n\nSUBSCRIBE ‚ñ∫ http...
3,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095828,132239,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...
4,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09T11:04:14.000Z,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634130,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,üéß: https://ad.gt/yt-perfect\nüí∞: https://atlant...

In [15]:
clean_cavideos_df = CAvideos_data_df[['video_id', 'title', 'channel_title', 'category_id', 'views', 'likes', 'dislikes', 'comment_count']]
clean_cavideos_df.insert(1,'country', 'CA')
clean_cavideos_df

,video_id,country,title,channel_title,category_id,views,likes,dislikes,comment_count
0,n1WpP7iowLc,CA,Eminem - Walk On Water (Audio) ft. Beyonc√©,EminemVEVO,10,17158579,787425,43420,125882
1,0dBIkQ4Mz1M,CA,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,1014651,127794,1688,13030
2,5qpjK5DgCt4,CA,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,3191434,146035,5339,8181
3,d380meD0W0M,CA,I Dare You: GOING BALD!?,nigahiga,24,2095828,132239,1989,17518
4,2Vv-BfVoq4g,CA,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,33523622,1634130,21082,85067
...,...,...,...,...,...,...,...,...,...
40876,sGolxsMSGfQ,CA,HOW2: How to Solve a Mystery,Annoying Orange,24,80685,1701,99,1312
40877,8HNuRNi8t70,CA,Eli Lik Lik Episode 13 Partie 01,Elhiwar Ettounsi,24,103339,460,66,51
40878,GWlKEM3m2EE,CA,KINGDOM HEARTS III ‚Äì SQUARE ENIX E3 SHOWCASE 2...,Kingdom Hearts,20,773347,25900,224,3881
40879,lbMKLzQ4cNQ,CA,Trump Advisor Grovels To Trudeau,The Young Turks,25,115225,2115,182,1672
40880,POTgw38-m58,CA,„ÄêÂÆåÊï¥Áâà„ÄëÈÅáÂà∞ÊÅêÊÄñÊÉÖ‰∫∫Ë©≤ÊÄéÈ∫ºËæ¶Ôºü2018.06.13Â∞èÊòéÊòüÂ§ßË∑üÁè≠,ÊàëÊÑõÂ∞èÊòéÊòüÂ§ßË∑üÁè≠,24,107392,300,62,251

In [16]:
ca_json_file = "Resources/CA_category_id.json"

In [17]:
ca_json_df = pd.read_json(ca_json_file)
ca_json_df.head()

,kind,etag,items
0,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
1,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
2,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
3,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
4,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."

In [18]:
list_countries=["Resources/CA_category_id.json"]
category = []

for country in list_countries:
    json_data = json.load(open(country,'r'))
    for data in json_data['items']:
        category.append([data['id'], data['snippet']['title']])

category

[['1', 'Film & Animation'],
 ['2', 'Autos & Vehicles'],
 ['10', 'Music'],
 ['15', 'Pets & Animals'],
 ['17', 'Sports'],
 ['18', 'Short Movies'],
 ['19', 'Travel & Events'],
 ['20', 'Gaming'],
 ['21', 'Videoblogging'],
 ['22', 'People & Blogs'],
 ['23', 'Comedy'],
 ['24', 'Entertainment'],
 ['25', 'News & Politics'],
 ['26', 'Howto & Style'],
 ['27', 'Education'],
 ['28', 'Science & Technology'],
 ['30', 'Movies'],
 ['31', 'Anime/Animation'],
 ['32', 'Action/Adventure'],
 ['33', 'Classics'],
 ['34', 'Comedy'],
 ['35', 'Documentary'],
 ['36', 'Drama'],
 ['37', 'Family'],
 ['38', 'Foreign'],
 ['39', 'Horror'],
 ['40', 'Sci-Fi/Fantasy'],
 ['41', 'Thriller'],
 ['42', 'Shorts'],
 ['43', 'Shows'],
 ['44', 'Trailers']]

In [19]:
categoryCA_map={1:'Film & Animation', 2:'Autos & Vehicles', 10:'Music', 15:'Pets & Animals', 17:'Sports',18: 'Short Movies',
               19:'Travel & Events', 20:'Gaming',21: 'Videoblogging',22: 'People & Blogs',23: 'Comedy',24: 'Entertainment',
               25: 'News & Politics',26: 'Howto & Style',27: 'Education', 28: 'Science & Technology',29: 'Nonprofits & Activism',30: 'Movies', 
               31: 'Anime/Animation', 32: 'Action/Adventure',33: 'Classics', 34:'Comedy', 35: 'Documentary', 36: 'Drama',
               37: 'Family', 38: 'Foreign', 39: 'Horror', 40: 'Sci-Fi/Fantasy', 41: 'Thriller', 42: 'Shorts', 43: 'Shows', 44: 'Trailers'}

clean_cavideos_df['category_name'] = clean_cavideos_df['category_id'].map(categoryCA_map)

clean_cavideos_df = clean_cavideos_df[['video_id', 'country', 'title', 'channel_title', 'category_id', 'category_name', 'views', 'likes', 'dislikes', 'comment_count']]
clean_cavideos_df

C:\Users\andre\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,video_id,country,title,channel_title,category_id,category_name,views,likes,dislikes,comment_count
0,n1WpP7iowLc,CA,Eminem - Walk On Water (Audio) ft. Beyonc√©,EminemVEVO,10,Music,17158579,787425,43420,125882
1,0dBIkQ4Mz1M,CA,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,Comedy,1014651,127794,1688,13030
2,5qpjK5DgCt4,CA,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,Comedy,3191434,146035,5339,8181
3,d380meD0W0M,CA,I Dare You: GOING BALD!?,nigahiga,24,Entertainment,2095828,132239,1989,17518
4,2Vv-BfVoq4g,CA,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,Music,33523622,1634130,21082,85067
...,...,...,...,...,...,...,...,...,...,...
40876,sGolxsMSGfQ,CA,HOW2: How to Solve a Mystery,Annoying Orange,24,Entertainment,80685,1701,99,1312
40877,8HNuRNi8t70,CA,Eli Lik Lik Episode 13 Partie 01,Elhiwar Ettounsi,24,Entertainment,103339,460,66,51
40878,GWlKEM3m2EE,CA,KINGDOM HEARTS III ‚Äì SQUARE ENIX E3 SHOWCASE 2...,Kingdom Hearts,20,Gaming,773347,25900,224,3881
40879,lbMKLzQ4cNQ,CA,Trump Advisor Grovels To Trudeau,The Young Turks,25,News & Politics,115225,2115,182,1672
40880,POTgw38-m58,CA,„ÄêÂÆåÊï¥Áâà„ÄëÈÅáÂà∞ÊÅêÊÄñÊÉÖ‰∫∫Ë©≤ÊÄéÈ∫ºËæ¶Ôºü2018.06.13Â∞èÊòéÊòüÂ§ßË∑üÁè≠,ÊàëÊÑõÂ∞èÊòéÊòüÂ§ßË∑üÁè≠,24,Entertainment,107392,300,62,251

In [24]:
top10_videos_ca = clean_cavideos_df[['country','video_id', 'title', 'channel_title', 'views', 'category_id', 'category_name']]
top10_videos_ca.drop_duplicates('video_id', inplace = True)
top10_videos_ca = top10_videos_ca.sort_values(by='views', ascending=False)
top10_videos_ca = top10_videos_ca.reset_index(drop=True)
top10_videos_ca.head(10)

C:\Users\andre\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,country,video_id,title,channel_title,views,category_id,category_name
0,CA,7C2z4GqqS5E,BTS (Î∞©ÌÉÑÏÜåÎÖÑÎã®) 'FAKE LOVE' Official MV,ibighit,39349927,10,Music
1,CA,6ZfuNTqbHE8,Marvel Studios' Avengers: Infinity War Officia...,Marvel Entertainment,37736281,24,Entertainment
2,CA,wfWkmURBNv8,Ozuna x Romeo Santos - El Farsante Remix,Ozuna,37597115,10,Music
3,CA,2Vv-BfVoq4g,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,33523622,10,Music
4,CA,xmU0s2QtaEY,Swag Se Swagat Song | Tiger Zinda Hai | Salman...,YRF,24939458,10,Music
5,CA,FlsCjmMhFmw,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,YouTube Spotlight,24784863,24,Entertainment
6,CA,FCfP7v9x8HI,Prince Royce - El Clavo (Official Video),PrinceRoyceVEVO,23869973,10,Music
7,CA,1J76wN0TPI4,Sanju | Official Trailer | Ranbir Kapoor | Raj...,FoxStarHindi,21739537,24,Entertainment
8,CA,BhIEIO0vaBE,To Our Daughter,Kylie Jenner,20921796,22,People & Blogs
9,CA,QwievZ1Tx-8,Marvel Studios' Avengers: Infinity War - Offic...,Marvel Entertainment,19716689,24,Entertainment

In [23]:
top_liked_videos = clean_cavideos_df[['country', 'video_id', 'title', 'channel_title', 'views','likes', 'category_id','category_name']].sort_values('likes', ascending=False)
top_liked_videos.drop_duplicates('video_id', inplace=True)
top_liked_videos.reset_index(drop=True)
top_liked_videos.head(10)

,country,video_id,title,channel_title,views,likes,category_id,category_name
36453,CA,7C2z4GqqS5E,BTS (Î∞©ÌÉÑÏÜåÎÖÑÎã®) 'FAKE LOVE' Official MV,ibighit,80738011,5053338,10,Music
34361,CA,VYOjWnS4cMY,Childish Gambino - This Is America (Official V...,ChildishGambinoVEVO,98938809,3037318,10,Music
5900,CA,FlsCjmMhFmw,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,YouTube Spotlight,137843120,3014479,24,Entertainment
4699,CA,6ZfuNTqbHE8,Marvel Studios' Avengers: Infinity War Officia...,Marvel Entertainment,89930713,2606665,24,Entertainment
2873,CA,kTlv5_Bs8aw,BTS (Î∞©ÌÉÑÏÜåÎÖÑÎã®) 'MIC Drop (Steve Aoki Remix)' Offi...,ibighit,27670973,2542863,10,Music
20055,CA,xpVfcZ0ZcFM,Drake - God‚Äôs Plan,DrakeVEVO,47362934,2469057,10,Music
33633,CA,p8npDG2ulKQ,BTS (Î∞©ÌÉÑÏÜåÎÖÑÎã®) LOVE YOURSELF ËΩâ Tear 'Singularity'...,ibighit,18574625,2407419,10,Music
21466,CA,OK3GJ0WIQ8s,j-hope 'Daydream (Î∞±ÏùºÎ™Ω)' MV,ibighit,15777624,2392594,10,Music
30900,CA,ffxKSjUwKdU,Ariana Grande - No Tears Left To Cry,ArianaGrandeVevo,45998071,2195120,10,Music
39208,CA,aJOTlE1K90k,Maroon 5 - Girls Like You ft. Cardi B,Maroon5VEVO,47778378,2178332,10,Music

In [26]:
highest_comment_count = clean_cavideos_df[['country','video_id', 'title', 'channel_title', 'comment_count']].sort_values('comment_count', ascending=False)
highest_comment_count.drop_duplicates('video_id', inplace=True)
highest_comment_count.reset_index(drop=True)
highest_comment_count.head(10)

,country,video_id,title,channel_title,comment_count
36453,CA,7C2z4GqqS5E,BTS (Î∞©ÌÉÑÏÜåÎÖÑÎã®) 'FAKE LOVE' Official MV,ibighit,1114800
4996,CA,FlsCjmMhFmw,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,YouTube Spotlight,827755
14852,CA,oWjxSkJpxFU,Suicide: Be Here Tomorrow.,Logan Paul Vlogs,625010
2873,CA,kTlv5_Bs8aw,BTS (Î∞©ÌÉÑÏÜåÎÖÑÎã®) 'MIC Drop (Steve Aoki Remix)' Offi...,ibighit,519092
34599,CA,32sYGCOYJUM,CH·∫†Y NGAY ƒêI | RUN NOW | S∆†N T√ôNG M-TP | Offic...,S∆°n T√πng M-TP Official,445251
21466,CA,OK3GJ0WIQ8s,j-hope 'Daydream (Î∞±ÏùºÎ™Ω)' MV,ibighit,437036
29241,CA,FhllRWReNEE,Melting Every Lipstick From Sephora Together,Safiya Nygaard,349112
4699,CA,6ZfuNTqbHE8,Marvel Studios' Avengers: Infinity War Officia...,Marvel Entertainment,347982
33633,CA,p8npDG2ulKQ,BTS (Î∞©ÌÉÑÏÜåÎÖÑÎã®) LOVE YOURSELF ËΩâ Tear 'Singularity'...,ibighit,340125
34361,CA,VYOjWnS4cMY,Childish Gambino - This Is America (Official V...,ChildishGambinoVEVO,319502

In [31]:
category_counts = clean_cavideos_df[['country', 'video_id', 'category_id', 'category_name']]
number_category_counts = category_counts['category_name'].value_counts()
number_category_counts

Entertainment            13451
News & Politics           4159
People & Blogs            4105
Comedy                    3773
Music                     3731
Sports                    2787
Film & Animation          2060
Howto & Style             2007
Gaming                    1344
Science & Technology      1155
Education                  991
Travel & Events            392
Pets & Animals             369
Autos & Vehicles           353
Shows                      124
Nonprofits & Activism       74
Movies                       6
Name: category_name, dtype: int64

In [36]:
clean_cavideos_df.groupby(['category_id']).size()
clean_cavideos_df.groupby(['category_id']).size().reset_index(name='counts')

    category_id  counts
0             1    2060
1             2     353
2            10    3731
3            15     369
4            17    2787
5            19     392
6            20    1344
7            22    4105
8            23    3773
9            24   13451
10           25    4159
11           26    2007
12           27     991
13           28    1155
14           29      74
15           30       6
16           43     124

### US TRENDING VIDEOS

In [28]:
us_json_file = 'Resources/US_category_id.json'
US_category_json_df = pd.read_json(us_json_file)
US_category_json_df.head()

,kind,etag,items
0,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."
1,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."
2,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."
3,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."
4,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."

In [29]:
USvideos_df = USvideos_data_df[['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count',
       'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description']].copy()

In [30]:
USvideos_df.insert(1,'country','US')
USvideos_df.head()

,video_id,country,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,US,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,US,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,US,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ‚ñ∂ \n\nSUBSCRIBE ‚ñ∫ http...
3,puqaWrEC7tY,US,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,US,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

In [31]:
top_trending_vidoes=USvideos_df[['video_id','title', 'views', 'trending_date', 'category_id', 'country']]
top_trending_vidoes.drop_duplicates('video_id', inplace=True)
top_trending_vidoes = top_trending_vidoes.sort_values(by= 'views', ascending=False )
top_trending_vidoes = top_trending_vidoes.reset_index(drop=True)
top_trending_vidoes.head(10)

C:\Users\andre\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,video_id,title,views,trending_date,category_id,country
0,-BQJo3vK8O8,Maluma - El Pr√©stamo (Official Video),48431654,18.15.03,10,US
1,7C2z4GqqS5E,BTS (Î∞©ÌÉÑÏÜåÎÖÑÎã®) 'FAKE LOVE' Official MV,39349927,18.19.05,10,US
2,i0p1bmr0EmE,TWICE What is Love? M/V,38873543,18.14.04,10,US
3,6ZfuNTqbHE8,Marvel Studios' Avengers: Infinity War Officia...,37736281,17.30.11,24,US
4,2Vv-BfVoq4g,Ed Sheeran - Perfect (Official Music Video),33523622,17.14.11,10,US
5,VYOjWnS4cMY,Childish Gambino - This Is America (Official V...,31648454,18.08.05,10,US
6,u9Mv98Gr5pY,VENOM - Official Trailer (HD),27973210,18.25.04,24,US
7,FlsCjmMhFmw,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,24782158,17.07.12,24,US
8,U9BwWKXjVaI,Drake - Nice For What,24421448,18.14.04,10,US
9,1J76wN0TPI4,Sanju | Official Trailer | Ranbir Kapoor | Raj...,23758250,18.01.06,24,US

In [32]:
top_liked_vidoes=USvideos_df[['video_id','title', 'likes', 'category_id', 'country']]
top_liked_vidoes.drop_duplicates('video_id', inplace=True)
top_liked_vidoes = top_liked_vidoes.sort_values(by= 'likes', ascending=False )
top_liked_vidoes = top_liked_vidoes.reset_index(drop=True)
top_liked_vidoes.head(10)

C:\Users\andre\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,video_id,title,likes,category_id,country
0,7C2z4GqqS5E,BTS (Î∞©ÌÉÑÏÜåÎÖÑÎã®) 'FAKE LOVE' Official MV,3880071,10,US
1,kTlv5_Bs8aw,BTS (Î∞©ÌÉÑÏÜåÎÖÑÎã®) 'MIC Drop (Steve Aoki Remix)' Offi...,2055137,10,US
2,OK3GJ0WIQ8s,j-hope 'Daydream (Î∞±ÏùºÎ™Ω)' MV,2050527,10,US
3,p8npDG2ulKQ,BTS (Î∞©ÌÉÑÏÜåÎÖÑÎã®) LOVE YOURSELF ËΩâ Tear 'Singularity'...,1956202,10,US
4,6ZfuNTqbHE8,Marvel Studios' Avengers: Infinity War Officia...,1735895,24,US
5,2Vv-BfVoq4g,Ed Sheeran - Perfect (Official Music Video),1634124,10,US
6,kX0vO4vlJuU,BTS (Î∞©ÌÉÑÏÜåÎÖÑÎã®) 'Euphoria : Theme of LOVE YOURSELF...,1572997,10,US
7,D_6QmL6rExk,BTS (Î∞©ÌÉÑÏÜåÎÖÑÎã®) 'FAKE LOVE' Official MV (Extended ...,1437859,10,US
8,VYOjWnS4cMY,Childish Gambino - This Is America (Official V...,1405355,10,US
9,8O_MwlZ2dEg,j-hope 'Airplane' MV,1401915,10,US

In [33]:
Highest_comment_count_vidoes=USvideos_df[['video_id','title','comment_count', 'country']]
Highest_comment_count_vidoes.drop_duplicates('video_id', inplace=True)
Highest_comment_count_vidoes = Highest_comment_count_vidoes.sort_values(by= 'comment_count', ascending=False )
Highest_comment_count_vidoes = Highest_comment_count_vidoes.reset_index(drop=True)
Highest_comment_count_vidoes.head(10)

C:\Users\andre\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,video_id,title,comment_count,country
0,QwZT7T-TXT0,So Sorry.,733373,US
1,7C2z4GqqS5E,BTS (Î∞©ÌÉÑÏÜåÎÖÑÎã®) 'FAKE LOVE' Official MV,692305,US
2,FlsCjmMhFmw,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,462103,US
3,_5d-sQ7Fh5M,LOGAN PAUL IS BACK!,432534,US
4,kTlv5_Bs8aw,BTS (Î∞©ÌÉÑÏÜåÎÖÑÎã®) 'MIC Drop (Steve Aoki Remix)' Offi...,395562,US
5,OK3GJ0WIQ8s,j-hope 'Daydream (Î∞±ÏùºÎ™Ω)' MV,387384,US
6,oWjxSkJpxFU,Suicide: Be Here Tomorrow.,363133,US
7,FhllRWReNEE,Melting Every Lipstick From Sephora Together,321455,US
8,p8npDG2ulKQ,BTS (Î∞©ÌÉÑÏÜåÎÖÑÎã®) LOVE YOURSELF ËΩâ Tear 'Singularity'...,285583,US
9,6ZfuNTqbHE8,Marvel Studios' Avengers: Infinity War Officia...,241237,US

In [35]:
list_contries =[us_json_file]
US_category=[]

for country in list_contries:
    json_data = json.load(open(country,'r'))
    for data in json_data['items']:
        US_category.append([data['id'], data['snippet']['title']])
US_category

[['1', 'Film & Animation'],
 ['2', 'Autos & Vehicles'],
 ['10', 'Music'],
 ['15', 'Pets & Animals'],
 ['17', 'Sports'],
 ['18', 'Short Movies'],
 ['19', 'Travel & Events'],
 ['20', 'Gaming'],
 ['21', 'Videoblogging'],
 ['22', 'People & Blogs'],
 ['23', 'Comedy'],
 ['24', 'Entertainment'],
 ['25', 'News & Politics'],
 ['26', 'Howto & Style'],
 ['27', 'Education'],
 ['28', 'Science & Technology'],
 ['29', 'Nonprofits & Activism'],
 ['30', 'Movies'],
 ['31', 'Anime/Animation'],
 ['32', 'Action/Adventure'],
 ['33', 'Classics'],
 ['34', 'Comedy'],
 ['35', 'Documentary'],
 ['36', 'Drama'],
 ['37', 'Family'],
 ['38', 'Foreign'],
 ['39', 'Horror'],
 ['40', 'Sci-Fi/Fantasy'],
 ['41', 'Thriller'],
 ['42', 'Shorts'],
 ['43', 'Shows'],
 ['44', 'Trailers']]

In [36]:
US_category_map={1: 'Film & Animation', 2: 'Autos & Vehicles', 10: 'Music', 15: 'Pets & Animals', 17: 'Sports',
                 18: 'Short Movies', 19: 'Travel & Events', 20: 'Gaming', 21: 'Videoblogging',22: 'People & Blogs'
                 ,23: 'Comedy',24: 'Entertainment',25: 'News & Politics',26: 'Howto & Style',27:'Education',
                  28: 'Science & Technology',29: 'Nonprofits & Activism',30: 'Movies',31: 'Anime/Animation',
                  32: 'Action/Adventure',33: 'Classics',34: 'Comedy',35: 'Documentary',36: 'Drama',37: 'Family',
                 38: 'Foreign',39: 'Horror', 40: 'Sci-Fi/Fantasy',41: 'Thriller',42: 'Shorts',43: 'Shows',44: 'Trailers'}

USvideos_df['category_name']= USvideos_df['category_id'].map(US_category_map)

In [37]:
category_vidoes=USvideos_df[['video_id', 'category_id','category_name','country']]
category_vidoes.drop_duplicates('video_id', inplace=True)
category_vidoes = category_vidoes.reset_index(drop=True)
category_vidoes.head()

C:\Users\andre\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      video_id  category_id   category_name country
0  2kyS6SvSYSE           22  People & Blogs      US
1  1ZAPwfrtAFY           24   Entertainment      US
2  5qpjK5DgCt4           23          Comedy      US
3  puqaWrEC7tY           24   Entertainment      US
4  d380meD0W0M           24   Entertainment      US

In [38]:
count_category_id = USvideos_df.groupby(['category_id']).size().reset_index(name='counts')
count_category_id

    category_id  counts
0             1    2345
1             2     384
2            10    6472
3            15     920
4            17    2174
5            19     402
6            20     817
7            22    3210
8            23    3457
9            24    9964
10           25    2487
11           26    4146
12           27    1656
13           28    2401
14           29      57
15           43      57

In [39]:
category_vidoes = category_vidoes.merge(count_category_id,on='category_id')
category_vidoes.head()

      video_id  category_id   category_name country  counts
0  2kyS6SvSYSE           22  People & Blogs      US    3210
1  0mlNzVSJrT0           22  People & Blogs      US    3210
2  STI2fI7sKMo           22  People & Blogs      US    3210
3  KODzih-pYlU           22  People & Blogs      US    3210
4  8mhTWqWlQzU           22  People & Blogs      US    3210