In [1]:
import pandas as pd
from sqlalchemy import create_engine
import json

In [2]:
csv_CAvideos = '../Resources/CAvideos.csv'
csv_GBvideos = '../Resources/GBvideos.csv'
csv_USvideos = '../Resources/USvideos.csv'


CAvideos_data_df = pd.read_csv(csv_CAvideos)
GBvideos_data_df = pd.read_csv(csv_GBvideos)
USvideos_data_df = pd.read_csv(csv_USvideos)

In [3]:
us_json_file = '../Resources/US_category_id.json'
US_category_json_df = pd.read_json(us_json_file)
US_category_json_df.head()

,kind,etag,items
0,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."
1,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."
2,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."
3,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."
4,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."

In [4]:
USvideos_df = USvideos_data_df[['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count',
       'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description']].copy()

In [5]:
USvideos_df.insert(1,'country','US')
USvideos_df.head()

,video_id,country,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,US,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,US,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,US,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,US,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,US,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

In [6]:
top_trending_vidoes=USvideos_df[['video_id','title', 'views', 'trending_date', 'category_id', 'country']]
top_trending_vidoes.drop_duplicates('video_id', inplace=True)
top_trending_vidoes = top_trending_vidoes.sort_values(by= 'views', ascending=False )
top_trending_vidoes = top_trending_vidoes.reset_index(drop=True)
top_trending_vidoes.head(10)

D:\Users\bakht\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,video_id,title,views,trending_date,category_id,country
0,-BQJo3vK8O8,Maluma - El Préstamo (Official Video),48431654,18.15.03,10,US
1,7C2z4GqqS5E,BTS (방탄소년단) 'FAKE LOVE' Official MV,39349927,18.19.05,10,US
2,i0p1bmr0EmE,TWICE What is Love? M/V,38873543,18.14.04,10,US
3,6ZfuNTqbHE8,Marvel Studios' Avengers: Infinity War Officia...,37736281,17.30.11,24,US
4,2Vv-BfVoq4g,Ed Sheeran - Perfect (Official Music Video),33523622,17.14.11,10,US
5,VYOjWnS4cMY,Childish Gambino - This Is America (Official V...,31648454,18.08.05,10,US
6,u9Mv98Gr5pY,VENOM - Official Trailer (HD),27973210,18.25.04,24,US
7,FlsCjmMhFmw,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,24782158,17.07.12,24,US
8,U9BwWKXjVaI,Drake - Nice For What,24421448,18.14.04,10,US
9,1J76wN0TPI4,Sanju | Official Trailer | Ranbir Kapoor | Raj...,23758250,18.01.06,24,US

In [7]:
top_liked_vidoes=USvideos_df[['video_id','title', 'likes', 'category_id', 'country']]
top_liked_vidoes.drop_duplicates('video_id', inplace=True)
top_liked_vidoes = top_liked_vidoes.sort_values(by= 'likes', ascending=False )
top_liked_vidoes = top_liked_vidoes.reset_index(drop=True)
top_liked_vidoes.head(10)

D:\Users\bakht\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,video_id,title,likes,category_id,country
0,7C2z4GqqS5E,BTS (방탄소년단) 'FAKE LOVE' Official MV,3880071,10,US
1,kTlv5_Bs8aw,BTS (방탄소년단) 'MIC Drop (Steve Aoki Remix)' Offi...,2055137,10,US
2,OK3GJ0WIQ8s,j-hope 'Daydream (백일몽)' MV,2050527,10,US
3,p8npDG2ulKQ,BTS (방탄소년단) LOVE YOURSELF 轉 Tear 'Singularity'...,1956202,10,US
4,6ZfuNTqbHE8,Marvel Studios' Avengers: Infinity War Officia...,1735895,24,US
5,2Vv-BfVoq4g,Ed Sheeran - Perfect (Official Music Video),1634124,10,US
6,kX0vO4vlJuU,BTS (방탄소년단) 'Euphoria : Theme of LOVE YOURSELF...,1572997,10,US
7,D_6QmL6rExk,BTS (방탄소년단) 'FAKE LOVE' Official MV (Extended ...,1437859,10,US
8,VYOjWnS4cMY,Childish Gambino - This Is America (Official V...,1405355,10,US
9,8O_MwlZ2dEg,j-hope 'Airplane' MV,1401915,10,US

In [8]:
Highest_comment_count_vidoes=USvideos_df[['video_id','title','comment_count', 'country']]
Highest_comment_count_vidoes.drop_duplicates('video_id', inplace=True)
Highest_comment_count_vidoes = Highest_comment_count_vidoes.sort_values(by= 'comment_count', ascending=False )
Highest_comment_count_vidoes = Highest_comment_count_vidoes.reset_index(drop=True)
Highest_comment_count_vidoes.head(10)

D:\Users\bakht\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,video_id,title,comment_count,country
0,QwZT7T-TXT0,So Sorry.,733373,US
1,7C2z4GqqS5E,BTS (방탄소년단) 'FAKE LOVE' Official MV,692305,US
2,FlsCjmMhFmw,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,462103,US
3,_5d-sQ7Fh5M,LOGAN PAUL IS BACK!,432534,US
4,kTlv5_Bs8aw,BTS (방탄소년단) 'MIC Drop (Steve Aoki Remix)' Offi...,395562,US
5,OK3GJ0WIQ8s,j-hope 'Daydream (백일몽)' MV,387384,US
6,oWjxSkJpxFU,Suicide: Be Here Tomorrow.,363133,US
7,FhllRWReNEE,Melting Every Lipstick From Sephora Together,321455,US
8,p8npDG2ulKQ,BTS (방탄소년단) LOVE YOURSELF 轉 Tear 'Singularity'...,285583,US
9,6ZfuNTqbHE8,Marvel Studios' Avengers: Infinity War Officia...,241237,US

In [9]:
list_contries =[json_file]
US_category=[]

for country in list_contries:
    json_data = json.load(open(country,'r'))
    for data in json_data['items']:
        US_category.append([data['id'], data['snippet']['title']])
US_category

[['1', 'Film & Animation'],
 ['2', 'Autos & Vehicles'],
 ['10', 'Music'],
 ['15', 'Pets & Animals'],
 ['17', 'Sports'],
 ['18', 'Short Movies'],
 ['19', 'Travel & Events'],
 ['20', 'Gaming'],
 ['21', 'Videoblogging'],
 ['22', 'People & Blogs'],
 ['23', 'Comedy'],
 ['24', 'Entertainment'],
 ['25', 'News & Politics'],
 ['26', 'Howto & Style'],
 ['27', 'Education'],
 ['28', 'Science & Technology'],
 ['29', 'Nonprofits & Activism'],
 ['30', 'Movies'],
 ['31', 'Anime/Animation'],
 ['32', 'Action/Adventure'],
 ['33', 'Classics'],
 ['34', 'Comedy'],
 ['35', 'Documentary'],
 ['36', 'Drama'],
 ['37', 'Family'],
 ['38', 'Foreign'],
 ['39', 'Horror'],
 ['40', 'Sci-Fi/Fantasy'],
 ['41', 'Thriller'],
 ['42', 'Shorts'],
 ['43', 'Shows'],
 ['44', 'Trailers']]

In [10]:
US_category_map={1: 'Film & Animation', 2: 'Autos & Vehicles', 10: 'Music', 15: 'Pets & Animals', 17: 'Sports',
                 18: 'Short Movies', 19: 'Travel & Events', 20: 'Gaming', 21: 'Videoblogging',22: 'People & Blogs'
                 ,23: 'Comedy',24: 'Entertainment',25: 'News & Politics',26: 'Howto & Style',27:'Education',
                  28: 'Science & Technology',29: 'Nonprofits & Activism',30: 'Movies',31: 'Anime/Animation',
                  32: 'Action/Adventure',33: 'Classics',34: 'Comedy',35: 'Documentary',36: 'Drama',37: 'Family',
                 38: 'Foreign',39: 'Horror', 40: 'Sci-Fi/Fantasy',41: 'Thriller',42: 'Shorts',43: 'Shows',44: 'Trailers'}

USvideos_df['category_name']= USvideos_df['category_id'].map(US_category_map)

In [12]:
category_vidoes=USvideos_df[['video_id', 'category_id','category_name','country']]
category_vidoes.drop_duplicates('video_id', inplace=True)
category_vidoes = category_vidoes.reset_index(drop=True)
category_vidoes.head()

D:\Users\bakht\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

      video_id  category_id   category_name country
0  2kyS6SvSYSE           22  People & Blogs      US
1  1ZAPwfrtAFY           24   Entertainment      US
2  5qpjK5DgCt4           23          Comedy      US
3  puqaWrEC7tY           24   Entertainment      US
4  d380meD0W0M           24   Entertainment      US

In [13]:
count_category_id = USvideos_df.groupby(['category_id']).size().reset_index(name='counts')
count_category_id

    category_id  counts
0             1    2345
1             2     384
2            10    6472
3            15     920
4            17    2174
5            19     402
6            20     817
7            22    3210
8            23    3457
9            24    9964
10           25    2487
11           26    4146
12           27    1656
13           28    2401
14           29      57
15           43      57

In [14]:
category_vidoes = category_vidoes.merge(count_category_id,on='category_id')
category_vidoes.head()

      video_id  category_id   category_name country  counts
0  2kyS6SvSYSE           22  People & Blogs      US    3210
1  0mlNzVSJrT0           22  People & Blogs      US    3210
2  STI2fI7sKMo           22  People & Blogs      US    3210
3  KODzih-pYlU           22  People & Blogs      US    3210
4  8mhTWqWlQzU           22  People & Blogs      US    3210